// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.
.card .card-block1 {max-height:300px;overflow:hidden;}
.inputs{
padding: 0px;
}