<div class="container-fluid">
    <div class="wrapper">
        <div class="title-card">
            <h3>Evenements</h3>
            <div class="bar"></div>
        </div>
           <ng-container *ngFor="let e of evenements.content; let i=index">
                   <asub-event  (click)="view(e.id)" [classes]="'col-md-3 col-sm-6'" [height]="'300px'" [dateDebut]="e.date" [lieu]="e.lieu"  [description]="e.contenu" [titre]="e.titre" [photoUrl]="e.photoUrl"></asub-event>                   
                </ng-container >
          
         <div class="clearfix"></div>
       <div style="text-align:center;margin-top:30px;" *ngIf="evenements.last==false">
               <button class="btn btn-primary btn-md" (click)="more()">Voir plus</button>
           </div>
    </div>
    </div>