// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.

#imgDiv{
    position: relative;
    margin-bottom:10px;
        font-family: sans-serif;
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
}
#imgDiv img{
    width: 100%;
}
#country-name,#article-title{
    position: absolute;
    z-index: 1100;
    opacity: 1;
}
#article-title{
    top:0px;
}
#article-description{
    position: absolute;
    z-index: 1100;
}
#country-name{
    left: 12px;
    top: 0px;
    height: 35px;
    padding: 10px;
    background: black;
    color: white;
}
#article-title{
    padding: 10px;
}
#article-title h4{

    color:white;
}
#bottom-card{
    position: absolute;
    bottom: 0px;
    background: rgba(49, 67, 81, 0.7);
    height: 100px;
    right: 0px;
    left: 0px;
    margin-left: 13px ;
    margin-right: 13px;
    z-index: 1000;
}
#desc-card{
    position: absolute;
    bottom: 0px;
    top: 0px;
    background: rgba(201, 201, 207, 0.50);
    right: 0px;
    left: 0px;
    margin-left: 12px ;
    margin-right: 12px;
    z-index: 10000;
    color: white;
    font-size: 40px;
    line-height: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    overflow: hidden;
}
#bottom-card:hover{
    background: rgba(96, 95, 98, 0.80);
    height: 110px;
}

@media (min-width: 576px) {
    
  }
  
  @media (min-width: 768px) {
   
  }
  
  @media (min-width: 992px) {

  }
  
  @media (min-width: 1200px) {
   
}