<div  (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)" style="cursor: pointer">
    <div id="imgDiv" [ngClass]="classes" [ngStyle]="{'margin-bottom': marginBottom}">
        <img [src]="photoUrl"  [ngStyle]="{width:'100%',height:height}" class="img-responsive">
        <div id="country-name">
           <label>{{pays}}</label>
        </div>
        <div *ngIf="show" id="desc-card" >
            {{titre}}
        </div>
        <div id="bottom-card" *ngIf="show==false" style="padding:5px">
                <b style="color:white; font-weight:12px;">{{titre}} </b>
                <p style="margin-top:-20px;overflow-y: hidden;height: 75px;color:white;text-align: justify" [innerHTML]="description">
                    
                </p>
                
        </div>
        <div class="clearfix"></div>
    </div>
</div>
