<div id="video-div">
<div class="head">
    <b>Asub TV</b>
    <button type="button" id="close" class="close" (click)="close()">&times;</button>
</div>
<div style="padding:10px;height: 90%">
        <iframe width="100%" height="100%" [src]="sanitizer.bypassSecurityTrustResourceUrl(url)" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
</div>
</div>