// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.
#video-div{
    position:fixed;
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
    bottom: 0px;
    z-index: 10000;
    height: 0px;
    background: #314351;
    border-radius: 10px;
    color: white;
}
.head{
    height: 50px;
    padding: 5px;
    border-bottom: 1px solid white;
}