// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.
.card .card-block1 {max-height:300px;overflow:hidden;}
#title{
    padding:30px;
}
#title p{
    font-size: 25px;
}
.article-desc{
    padding: 30px;
}
.article-desc img{
    margin-bottom: 20px;
}
.article-desc .contenu{
}
.article-info{
    padding: 30px;

}
.other-article{
    padding: 30px;
}
.green-data{
    color:rgb(10, 236, 10);
    }
    .red-data{
    color:red;
    }