<div class="article-content">
    <div class="pub container" *ngIf="pub">
        <a [href]="pub.url"><img [src]="pub.photoUrl"  style="width:100%;height: 300px;"></a>
    </div>
    <div class="col-md-12" style="padding:30px 20px 0px 10px;">
        
    </div>
    <div class="col-md-12" id="title">
            <dt>{{article.auteur?.nom+" "+article.auteur?.prenom }}</dt>
            <dd>{{article.auteur?.description}}</dd>
            <p>{{article.titre}}</p>
    </div>
    <div class="article-desc col-md-9">
        <img  class="img-responsive"  [src]="article.photoUrl" style=" width: 100%;">
        <div class="contenu" [innerHTML]="article.contenu">

        </div>
    </div>
    
    <div class="article-info col-md-3">
            <div class="title-card">
                    <div class="bar"></div>
                    <h3>Catégories</h3>
                    <p>{{article.categorie}},{{article.type}}</p>
                </div>
            <div class="title-card">
                    <div class="bar"></div>
                    <h3>Pays</h3>
                    <p>{{article.pays}}</p>
                </div>
            <div class="title-card">
                    <div class="bar"></div>
                    <h3>Palmares</h3>
                    <div class="row">
                            <h4>Hausses</h4>                  
                             <table class="table table-vertical table-border">
                                 <tbody>
                                     <tr *ngFor="let p of palmares.hausses">
                                         <th>{{p.structure.nom}}</th>
                                         <td style="text-align:right">{{p.cours_prec}}</td>
                                         <td class="green-data" style="text-align:right">{{arrondVar(p.var)}}%</td>
                                     </tr>
                                 </tbody>
                             </table>
                          </div>
                          <div class="row">
                            <h4>Baisses</h4>                  
                             <table class="table table-vertical table-border">
                                 <tbody>
                                     <tr *ngFor="let p of palmares.baisses">
                                         <th>{{p.structure.nom}}</th>
                                         <td style="text-align:right">{{p.cours_prec}}</td>
                                         <td class="red-data" style="text-align:right">{{arrondVar(p.var)}}%</td>
                                     </tr>
                                 </tbody>
                             </table>
                          </div>
                          <div class="clearfix"></div>
                </div>
    </div>
    <div class="other-article col-md-12">
            <div class="title-card">
                    <h3>Articles associés</h3>
                    <div class="bar"></div>
                </div>
            <ng-container *ngFor="let a of articles; let i=index">
            <asub-article (click)="view(a.id)"  [classes]="'col-md-4 col-sm-12'" [height]="'250px'"  [description]="a.contenu" [titre]="a.titre" [photoUrl]="a.photoUrl" [pays]="a.pays"></asub-article>
            </ng-container>
    </div>
    <div *ngIf="articles.length==0">
            <a class="card col-md-12 h-100">
                    <div class="card-block">
                        <h4 class="card-title">Aucun article associé</h4>
                    </div>
                </a>
    </div>
    <div class="clearfix"></div>
</div>
<!-- <div class="row">
        <div  class="col-md-8 col-sm-9">
            <a class="card">
                <div class="card-img">
                    <img [src]="article.photoUrl" style="height: auto;">
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{article.titre}}</h4>
                    <p class="card-text" [innerHTML]="article.contenu">
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 col-sm-3">
            <h4 style="text-align:center"><b>Evenement à venir</b></h4>
                <div  class="" *ngFor="let e of evenements.content">
                        <a  class="card " >
                                <div class="card-img" >
                                    <img  [src]="e.photoUrl">
                                </div>
                                <div class="card-block">
                                    <h4 class="card-title">{{e.titre}}</h4>
                                    <div>
                                            <label class="label col-xs-12"><strong> Date de début:</strong>
                                            {{e.date|date : "dd-MM-yyyy"}}</label>
                                    </div>
                                    <div>
                                            <label class="label col-xs-12"><strong> Date de fin:</strong>
                                            {{e.fin|date : "dd-MM-yyyy"}}</label>
                                    </div>
                                    <p class="card-text" [innerHTML]="e.description">
                                    </p>
                                </div>
                            </a>
                    </div>
                    <div style="text-align:center;margin-top:30px;" *ngIf="evenements.last==false">
                            <button class="btn btn-primary btn-md" (click)="more()">Voir plus </button>
                        </div>
        </div>
        <div class="col-md-12">
                <h4 style="text-align:center"><b>Articles associés</b></h4>
                <div class="row" >
                        <ng-container *ngFor="let a of articles; let i=index">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" style="margin-bottom:10px">
                                <a  class="card clickable  h-100" (click)="view(a.id)">
                                    <div class="card-img">
                                        <img  [src]="a.photoUrl">
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">{{a.titre}}</h4>
                                        
                                    </div>
                                </a>
                            </div>
                        </ng-container>
                        </div>
                <div *ngIf="articles.length==0">
                        <a class="card col-md-12 h-100">
                                <div class="card-block">
                                    <h4 class="card-title">Aucun article associé</h4>
                                </div>
                            </a>
                </div>
        </div>
        </div> -->