<div  (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)" style="cursor: pointer">
    <div id="imgDiv" [ngClass]="classes" [ngStyle]="{'margin-bottom': marginBottom}">
        <img [src]="photoUrl"  [ngStyle]="{width:'100%',height:height}" class="img-responsive">

        <div id="event-bottom-card" >
            <div id="event-date">
                <h1 style="font-weight: bold;color:aliceblue">{{getDay(dateDebut)}}</h1>
                <label style="color:aliceblue;font-size:12px;">{{getMonth(dateDebut)}}</label>
            </div>
                <div id="event-title"><h2><b>{{titre}}</b></h2>
                <div  style="position:absolute; bottom:5px;"><b><clr-icon shape="map-marker"></clr-icon>
                     {{lieu}}</b>
        </div>
                </div>
                
    </div>
</div>
