// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.

#imgDiv{
    position: relative;
    margin-bottom:10px;
        font-family: sans-serif;
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
}
#imgDiv img{
    width: 100%;
}
#country-name{
    left: 12px;
    top: 0px;
    height: 35px;
    padding: 10px;
    background: black;
    color: white;
}
#event-title{
    position: absolute;
    padding: 5px;
    vertical-align: middle;
    left: 99px;
    right: -1px;
    height: 100%;
    background: #989696;
}

#event-date{
    position: absolute;
    min-width: 100px;
    padding: 10px;
    left: -1px;
    height: 100%;
    background: #707170;
    text-align: center;
    color:white;
    padding-bottom: 30px;
}
#event-title h2{

    color:white;
    margin: 0px;
    font-size: 12px;
}
#event-bottom-card{
    position: absolute;
    bottom: 0px;
    height: 100px;
    right: 0px;
    left: 0px;
    margin-left: 13px ;
    margin-right: 13px;
    z-index: 1000;
}

#bottom-card:hover{
    background: rgba(96, 95, 98, 0.80);
    min-height: 110px;
}

@media (min-width: 576px) {
    
  }
  
  @media (min-width: 768px) {
   
  }
  
  @media (min-width: 992px) {

  }
  
  @media (min-width: 1200px) {
   
}