// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.
.clr-icon {
  &.clr-clarity-logo {
      background-image: url(../images/clarity_logo.svg);
      height: 36px;
      width: 36px;
      margin-right: 11px;
  }
  
}
.branding{
  background: white;
}
.footer{
margin-top:200px;
}
.footer-title{
  background: #ccc;
}
.footer-title > h2{
  text-align: center;
}
.footer-details{
  background: rgba(38, 52, 63, 0.9);
}
.footer-details{
  color:white
}
.socialNet > i{
padding: 5px;
margin: 5px;
}
.header-nav .fa{
  color:black;
}
.amcharts-chart-div a {display:none !important;}
