<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
[speed]="200" [showSpinner]="false" [direction]="'rightToLeftIncreased'"
[color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<clr-main-container>  
<clr-header class=" header header-1">
      <div class="header-actions flex-xs-middle">
          <div class="header-nav">
              <a class="nav-link" href="#"><span class="nav-text"><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
              <a class="nav-link" href="#"><span class="nav-text"><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
              <a class="nav-link" href="#" ><span class="nav-text"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
          </div>
      </div>
      </clr-header>
      <clr-header class=" header header-2">
    <div class="branding">
        <a href="#" class="nav-link">
            <span class="clr-icon"><img src="images/logo ASUBUSINESS 2.png"></span>
          </a>
    </div>
        <div class="header-nav"[clr-nav-level]="1" >
            <a class="nav-link" href="#" [routerLink]="['/actualite']" routerLinkActive="active"><span class="nav-text">Actualité</span></a>
            <a class="nav-link" href="#" [routerLink]="['/marche']" routerLinkActive="active"><span class="nav-text">Marchés</span></a>
            <a class="nav-link" href="#" [routerLink]="['/entrep_startup']" routerLinkActive="active"><span class="nav-text">Entrepreneurs & Startups</span></a>
            <a class="nav-link" href="#" [routerLink]="['/opinions']" routerLinkActive="active"><span class="nav-text">Opinions</span></a>
            <a class="nav-link" href="#" [routerLink]="['/evenements']" routerLinkActive="active"><span class="nav-text">Evenements</span></a>
            <a class="nav-link" href="#" [routerLink]="['/experts']" routerLinkActive="active"><span class="nav-text">Experts & Contributeurs</span></a>
            <a class="nav-link" href="#" [routerLink]="['/asubtv']" routerLinkActive="active"><span class="nav-text">Asub TV</span></a>
    </div>
<!--     <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div> -->
</clr-header>

  <div class="content-container1">
      <div class="content-area1" >
<!--           <div style="" *ngIf="showPub">
  <table class="table" >
    <thead >
      <th>BRVM-10</th>
      <th>BRVM-C</th>
      <th>EURO/XOF</th>
      <th>USD/XOF</th>
      <th>EURO/USD</th>
    </thead>
    <tbody>
      <tr>
        <td>00.0</td>
        <td>00.0</td>
        <td>00.0</td>
        <td>00.0</td>
        <td>00.0</td>
      </tr>
    </tbody>
  </table>

    <carousel *ngIf="false">
      <slide  style="max-height: 300px" *ngFor="let p of publicites.content" >
        <img [src]="p.photoUrl" [alt]="p.titre">
        <div class="carousel-caption">
              <h3>{{p.titre}}</h3>
              <p [innerHTML]="p.description"></p>
            </div>
      </slide>
    </carousel>
 </div> -->
      <router-outlet></router-outlet>
      <div class="containe">
        <div class="footer">
          <div class="footer-title">
            <h2><b>Asubusiness</b></h2>
          </div>
          <div class="footer-details">
            <div class="col-md-2">
              <h4><b>Nos services</b></h4>
              <p>
                <a>Consulting</a><br>
                <a>Annonce</a><br>
                <a>Publicité</a><br>
                <a>Asub Start-Rating</a><br>
              </p>
            </div>
            <div class="col-md-3">
              <h4><b>Qui sommes-nous</b></h4>
              <p>
                Asubusiness, le portail de la BRVM<br>
                et plate-forme de programmes et de <br>
                réseaux qui vise à booster l'entrepreneuriat<br>
                dans la région Afrique Subsaharienne.
              </p>
            </div>
            <div class="col-md-3">
              <h4><b>Contactez-nous</b></h4>
              <p>
                Adresse: Dakar <br>
                Dakar-Sénégal<br>
                Téléphone: +221 78 135 93 56<br>
                Email: contactasubusiness@gmail.com
              </p>
            </div>
            <div class="col-md-2">
              <h4><b>Partenaires</b></h4>
            </div>
            <div class="col-md-2">
              <h4><b>Suivre-nous</b></h4>
              <div class="socialNet">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
            </div>
            <div class="clearfix"></div>
            <div style="margin-top:20px; font-size:12px;font-weight:bold;color:#ccc;padding:20px;">
              Développé par Diéyné Boudal Dramé : Spécialite en ingénierie des systèmes d'information.<br>              
              Email : <b style="color:white">dieynedrame@gmail.com</b>

            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    
  </div>
</clr-main-container>
