<div class="container-fluid">
        <div class="wrapper">
            <div class="title-card">
                <h3>Experts & Contributeurs</h3>
                <div class="bar"></div>
            </div>
                <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let u of users">
                            <span href="" class="card">
                                <div class="card-img">
                                    <img src="images/noimage.png">
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                            <dt>
                                                    {{u.nom}}  {{u.prenom}}
                                            </dt>
                                            <dd>
                                                    {{u.description}}
                                            </dd>
                                                
                                        
                                    </p>
                                    <div class="row">
                                            <button class="btn btn-sm btn-success" (click)="viewArticles(u)">Articles</button>
                                            <button class="btn btn-sm btn-info" (click)="viewOpinions(u)">Opinions</button>
                                            <button class="btn btn-sm btn-danger" (click)="viewVideos(u)">Vidéos</button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
             <div class="clearfix"></div>
        </div>
        </div>
        <video-frame></video-frame>