<div style="padding:10px;">
<div class="title-card">
    <h3>Le marché</h3>
    <div class="bar"></div>
</div>
<clr-tabs>
    <clr-tab>
        <button clrTabLink  (click)="updateGraph()" >Cotation BRVM</button>
        <ng-template [(clrIfActive)]="dashboardActive">
        <clr-tab-content >
           <div class="col-md-8">
               <div class="table table-responsive" style="padding:20px;">

                <div id="chartdiv2"  *ngIf="dashboardActive" style="width:100%;height: 600px;"></div>
             </div>  
<!--    <amCharts id="chartdiv1" [options]="options" [style.width.%]="100" [style.height.px]="500"></amCharts>
 -->              
            </div>
           <div class="col-md-4">
             <div class="row">
               <h4>Hausses</h4>                  
                <table class="table table-vertical table-border">
                    <tbody>
                        <tr *ngFor="let p of palmares.hausses">
                            <th>{{p.structure.nom}}</th>
                            <td style="text-align:right">{{p.cours_prec}}</td>
                            <td class="green-data" style="text-align:right">{{arrondVar(p.var)}}%</td>
                        </tr>
                    </tbody>
                </table>
             </div>
             <div class="row">
               <h4>Baisses</h4>                  
                <table class="table table-vertical table-border">
                    <tbody>
                        <tr *ngFor="let p of palmares.baisses">
                            <th>{{p.structure.nom}}</th>
                            <td style="text-align:right">{{p.cours_prec}}</td>
                            <td class="red-data" style="text-align:right">{{arrondVar(p.var)}}%</td>
                        </tr>
                    </tbody>
                </table>
             </div>
             <div class="row"></div>
           </div>
        </clr-tab-content>
    </ng-template>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Entreprises cotées</button>
        <ng-template [(clrIfActive)]="entrepriseActive">
        <clr-tab-content  >
            <div class="container">
            <table class="table table-compact table-hover" style="margin-left:10px;">
                <thead>
                    <tr>
                        <th class="left">Structure</th>
                        <th>Symbole</th>
                        <th>Secteur</th>
                        <th>Volume titre</th>
                        <th>Veille</th>
                        <th>Cours</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody *ngIf="structures.length>0">
                    <tr *ngFor="let s of structures; let i=index" style="cursor: pointer" (click)="setStructure(i)">
                        <td class="left">{{s.nom}}</td>
                        <td>{{s.symbole}}</td>
                        <td>{{s.secteur}}</td>
                        <td>{{s.lastDonnee.vol_titre}}</td>
                        <td>{{arrond(s.lastDonnee.veille)}}</td>
                        <td>{{arrond(s.lastDonnee.cours_prec)}}</td>
                        <td>{{s.lastDonnee.date}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </clr-tab-content>
    </ng-template>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Analyses & Conseils</button>
        <ng-template [(clrIfActive)]="analyseActive">
        <clr-tab-content >
            <div class="container">
                <table class="table table-compact" style="margin-left:10px;">
                    <thead>
                        <tr>
                            <th class="left">Volume titre</th>
                            <th class="left">Volume Fcfa</th>
                            <th>Veille</th>
                            <th>Cours</th>
                            <th>Var</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="chart2.mainDataSet">
                        <tr *ngFor="let d of chart2.mainDataSet.dataBruit; let i=index" >
                            <td class="left">{{d.vol_titre}}</td>
                            <td>{{d.vol_fcfa}}</td>
                            <td>{{arrond(d.veille)}}</td>
                            <td>{{arrond(d.cours_prec)}}</td>
                            <td>{{arrondVar(d.var)}}</td>
                            <td>{{convertDate(d.date)}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </clr-tab-content>
    </ng-template>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Actualités</button>
        <ng-template [(clrIfActive)]="actualitedActive">
        <clr-tab-content >
            <div class="containe" style="margin-top:20px;">
                <ng-container *ngFor="let a of articles; let i=index">
                    <asub-article [pays]="a.pays" (click)="view(a.id)"  [classes]="'col-md-4 col-sm-6'" [height]="'350px'"  [description]="a.contenu" [titre]="a.titre" [photoUrl]="a.photoUrl" ></asub-article>
                </ng-container >
            </div>
        </clr-tab-content>
    </ng-template>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>{{chart2?.mainDataSet?.title}}</button>
        <ng-template [(clrIfActive)]="brvmActive">
        <clr-tab-content >
        <div style="padding:10px;" [innerHTML]="chart2?.mainDataSet?.description">
            
        </div>
        </clr-tab-content>
    </ng-template>
    </clr-tab>
    <div class="clearfix"></div>
</clr-tabs>
</div>


