<div   style="cursor: pointer">
    <div id="imgDiv" [ngClass]="classes" [ngStyle]="{'margin-bottom': marginBottom}">
        <img [src]="photoUrl"  [ngStyle]="{width:'100%',height:height}" class="img-responsive">
        <div id="country-name">
           <label>{{pays}}</label>
        </div>
        <div id="play">
                <i class="fa fa-play-circle fa-6" ></i>
        </div>
        <div id="desc" [innerHTML]="description">
        </div>
    </div>

</div>
