// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.

#imgDiv{
    position: relative;
    margin-bottom:10px;
        font-family: sans-serif;
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
}
#imgDiv img{
    width: 100%;
}
#country-name,#article-title{
    position: absolute;
    z-index: 1100;
    opacity: 1;
}
#country-name{
    left: 12px;
    top: 0px;
    height: 35px;
    padding: 10px;
    background: black;
    color: white;
}
#article-title{
    padding: 10px;
}
#article-title h2{

    color:white;
}
#video-bottom-card{
 padding: 10px;
}
#play{
    position: absolute;
    z-index: 10000;
    top:60px;
    width: 100%;
    color:white;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    overflow: hidden;
}
#desc{
    position: absolute;
    bottom: 0px;
    color:white;
    font-weight: bold;
    font-size: 13px;
    padding: 5px;
    height: 100px;
    z-index: 1000;
    width: 93%;
    background: rgba(49, 67, 81, 0.7);
    height: 95px;
    overflow-y: hidden;
}
#imgDiv:hover #play> .fa{
    color: #314351
}

@media (min-width: 576px) {
    
  }
  
  @media (min-width: 768px) {
   
  }
  
  @media (min-width: 992px) {

  }
  
  @media (min-width: 1200px) {
   
}