<div class="">
    <div class="img-responsive">
        <div id="brvm">
            <div class="col-md-3" id="taux">
                    <h5 style="margin-top:0px;text-align:center"><b>BRVM 10</b></h5>
                <div id="chartbrvm"  style="width:100%;height: 141px;border:1px solid white" ></div>                
            </div>
            <div class="col-md-6" id="palmares" style="padding:0px;">
                <h5 style="margin-top:0px;text-align:center"><b>PALMARES</b></h5>
                <div>
                    
                        <div class="col-md-6" >
                                <div class="data" *ngFor="let p of palmares.hausses">
                                    <div class="col-xs-8" style="margin-top:0px;text-align:left;font-weight: bold">{{p.structure.nom}}</div>
                                    <div class="col-xs-2"style="margin-top:0px;text-align:left">{{p.cours_prec}}</div>
                                    <div class="col-xs-2  green-data">{{arrondVar(p.var)}}%</div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="data" *ngFor="let p of palmares.baisses">
                                    <div class="col-xs-8 " style="margin-top:0px;text-align:left;font-weight: bold">{{p.structure.nom}}</div>
                                    <div class="col-xs-2"style="margin-top:0px;text-align:left">{{p.cours_prec}}</div>
                                    <div class="col-xs-2 red-data">{{arrondVar(p.var)}}%</div>
                                    <div class="clearfix"></div>
                                </div>
                              
                            </div>
                            <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-3" id="brvm-graph">
                    <h5 style="margin-top:0px;text-align:center"><b>TAUX</b></h5>
                    <div >
                <div class="data">
                    <div class="col-xs-6"  style="margin-top:0px;text-align:left;font-weight: bold">BRVM 10</div>
                    <div class="col-xs-6" style="text-align:right">{{arrondVar(brvm10data[brvm10data.length-1]?.var)}} %</div>
                    <div class="clearfix"></div>
                </div>
                <div class="data">
                    <div class="col-xs-6"  style="margin-top:0px;text-align:left;font-weight: bold">BRVM C</div>
                    <div class="col-xs-6" style="text-align:right">{{arrondVar(brvmcdata[brvmcdata.length-1]?.var)}} %</div>
                    <div class="clearfix"></div>
                </div>
                <div class="data" *ngFor="let t of taux">
                    <div class="col-xs-6"  style="margin-top:0px;text-align:left;font-weight: bold">{{t.libelle}}</div>
                    <div class="col-xs-6" style="text-align:right">{{t.valeur}}</div>
                    <div class="clearfix"></div>
                </div>
               </div>
               
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="pub container" *ngIf="pub" style="margin-bottom:0px;">
        <a [href]="pub.url" ><img [src]="pub.photoUrl"  style="width:100%;height: 270px;"></a>
    </div>
        <div class="container" style="padding:0px;">
            <div class="title-card">
                <h3 style="margin-top:0px;">Actualités</h3>
                <div class="bar"></div>
            </div>
               <ng-container *ngFor="let a of articles.content; let i=index">
                       <asub-article [pays]="a.pays" (click)="view(a.id)" *ngIf="i==0||i==1" [marginBottom]="height=='600px'?'20px':'10px'" [description]="a.contenu" [classes]="'col-md-6 col-sm-6 space'" [titre]="a.titre" [height]="'350px'" [photoUrl]="a.photoUrl" ></asub-article>
                       <asub-article [pays]="a.pays" (click)="view(a.id)" *ngIf="i>1" [classes]="'col-md-4 col-sm-6'" [height]="'350px'"  [description]="a.contenu" [titre]="a.titre" [photoUrl]="a.photoUrl" ></asub-article>
                   </ng-container >
              
             <div class="clearfix"></div>
           <div style="text-align:center;margin-top:30px;" *ngIf="articles.last==false">
                   <button class="btn btn-primary btn-md" (click)="more()">Voir plus</button>
               </div>
        </div>
 <div class="container" style="margin-top:20px;">
        <div class="title-card" *ngIf="evenements.content.length>0">
            <h3 style="margin-top:0px;">Evenements à avenir <a class="pull-right" style="font-size:16px;" href="" routerLink="/evenements"> <i class="fa fa-arrow-circle-right "></i> Plus d'evenements</a></h3>
            <div class="bar"></div>
        </div>
        <ng-container *ngFor="let e of evenements.content; let i=index">
        <asub-event  [classes]="'col-md-4 col-sm-12'" [height]="'300px'"  [dateDebut]="e.date" [lieu]="e.lieu" [description]="e.contenu" [titre]="e.titre" [photoUrl]="e.photoUrl"></asub-event>
        </ng-container>
        <div class="clearfix"></div>
    </div>     
   </div> 
   <div class="" >
   <div class="wrapper-tv-video">

                        <div class="title-card">
                                 <div style="position:absolute;right:10px; "><a style="font-size:16px;margin-right:10px;text-align:right" href="" [routerLink]="['/asubtv']" ><i class="fa fa-arrow-circle-right"></i> Plus de vidéos</a></div>
                                <h3 style="color:white">ASUB TV </h3>
                                <div class="bar" style="margin-bottom:30px;margin-right:10px;"></div>
                            </div>
                            <ng-container *ngFor="let a of videos.content; let i=index">
                                <asub-video (click)="play(a)" [pays]="a.pays" [classes]="'col-md-3 col-sm-12'" [height]="'250px'"  [description]="a.contenu" [titre]="a.titre" [photoUrl]="a.photoUrl" ></asub-video>                    
                                </ng-container>
                                <div class="clearfix"></div>
                </div>
                
        
</div>      
<video-frame></video-frame>