// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.
.card .card-block1 {max-height:300px;overflow:hidden;}
.brvm-details{
    min-height: 100px;
    background: white;
    margin:0px;
    padding: 2px;
    border-bottom: 2px solid #ccc;
}
#brvm{
    background: #63727F;
    color: white;
    font-size: 9px;
    padding: 2px;
    padding-top:10px; 
    margin-bottom: 2px;
}
.data{
    padding: 1px;
    margin-bottom: 1px;
    background: #63727F;
    border: 1px dashed white
}
.green-data{
color:rgb(10, 236, 10);
}
.red-data{
color:red;
}

#taux,#brvm-graph{


}
// chaque cadre 
.brvm-items{
border: 1px solid white;
padding:2px;
font-size:12px;
min-height: 100px;
}
.brvm-items .table{
margin-top:0px;
}
.brvm-items tr{
background: white;
}
.brvm-items tr td{
    font-size: 11px;
    padding: 1px;
}
.brvm-items table{
border: none;
}
.brvm-items-title{
text-align: center;
font-weight: bold;
}
.baisses td{
color:red;
}
.hausses td{
    color: green;
}
.pub{
    margin-bottom: 15px;
    padding: 0px;
    max-height: 300px;
    min-height: 300px;
}
