<div class="container-fluid">
    <div class="wrapper">
        <div class="title-card">
            <h3>Opinions</h3>
            <div class="bar"></div>
            <div class="inputs">
                                                <div style="display:inline-block;padding:0px;">
                                                 <div class="form-inline" style="margin-top:15px;padding:0px">
                                                        <label for="selects_1" class="label-control">Pays</label>
                                                        <select class="form-control" [(ngModel)]="option.pays" name="pays" (change)="search()" style="height: 30px;padding:5px;font-size:12px;" id="selects_1">
                                                            <option value="">Tous</option>
                                                            <option>Benin</option>
                                                            <option>Burkina Faso</option>
                                                            <option>Côte d'Ivoire</option>
                                                            <option>Guinée-Bissau</option>
                                                            <option>Mali</option>
                                                            <option>Niger</option>
                                                            <option>Sénégal</option>
                                                            <option>Togo</option>
                                                            <option>Afrique</option>
                                                            <option>Maghreb</option>
                                                            <option>Monde</option>
                                                            <option>Régional</option>
                                                            <option>BRVM</option>
                                                        </select>
                                                 </div>
                                                </div>
                                                <div style="display:inline-block;;padding:0px;">
                                                        <div class="form-inline" style="margin-top:15px;padding:0px;">
                                                                <label for="selects_2" class="label-control">Catégorie</label>
                                                                <select class="form-control" [(ngModel)]="option.categorie" name="categorie" (change)="search()" style="height: 30px;padding:5px;font-size:12px;" id="selects_2">
                                                                    <option value="">Tous</option>
                                                                    <option>Finance</option>
                                                                    <option>Economie</option>
                                                                    <option>Telecom/Informatique</option>
                                                                    <option>Agriculture</option>
                                                                    <option>Elevage</option>
                                                                    <option>Education</option>
                                                                    <option>Transport</option>
                                                                    <option>Autre</option>
                                                                </select>
                                                         </div>
                                                </div>
                                                <label *ngIf="auteur">Auteur : </label><div class="label label-success" *ngIf="auteur">{{auteur.nom}} {{auteur.prenom}}<button type="button" style="margin-right:-8px;" id="close" class="close" (click)="deleteAuth()">&times;</button></div>                                                
                                                <hr>
                                               
            </div>
        </div>
           <ng-container *ngFor="let a of articles.content; let i=index">
                   <asub-article [pays]="a.pays" (click)="view(a.id)"  [classes]="'col-md-4 col-sm-6'" [height]="'350px'"  [description]="a.contenu" [titre]="a.titre" [photoUrl]="a.photoUrl" ></asub-article>
               </ng-container >
          
         <div class="clearfix"></div>
       <div style="text-align:center;margin-top:30px;" *ngIf="articles.last==false">
               <button class="btn btn-primary btn-md" (click)="more()">Voir plus</button>
           </div>
    </div>
    </div>